*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, Helvetica, sans-serif;
}

body{

background:linear-gradient(#111,#333);

height:100vh;

display:flex;

justify-content:center;

align-items:center;

color:white;

}

#menu{

width:350px;

text-align:center;

}

h1{

font-size:48px;

margin-bottom:20px;

}

p{

margin-bottom:35px;

font-size:22px;

}

button{

width:260px;

height:60px;

margin:10px;

font-size:22px;

border:none;

border-radius:12px;

background:#2196F3;

color:white;

cursor:pointer;

transition:.3s;

}

button:hover{

transform:scale(1.05);

}